*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 700px;
    height: 700px;
    background-color: rgba(117, 181, 245, 0.5);
    border: 12px solid rgb(23, 24, 24);
    border-radius: 50%;
    font-size: 75px;
    display: flex; 
    margin: auto;
}
 .twelve{
    position: relative;
    left: 28%;
}

.six{
    position: relative;
    left: 42%;
    top: 90%;
}
.three{
    position: relative;
    left: 95%;
    top:41%;
}
.nine {
    position: relative;
    left: -10%;
    top: 41%;
}
.middle{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 30px;
    position: relative;
    left: 137px;
    top: 48%;
   
}
#hour_hand{
   height: 150px;
   width: 10px;
   background-color: black;
   position:relative;
   left: 106px;
   top: 205px;
   transform-origin: bottom;
}
#minute_hand{
    height: 200px;
    width: 6px;
    background-color: black;
    position: relative;
    left: 98px;
    top: 155px;
    transform-origin: bottom;
}
#second_hand{
    height: 250px;
    width: 5px;
    background-color: black;
    position: relative;
    left: 92px;
    top: 105px;
    transform-origin: bottom;
} 
#time{
    font-size: 50px;
position: relative;
top: 65%;
left: 2%;
}

